<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280514641018-mk8h4krokcov2m18li70as6kq54ssd6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280514641018-mk8h4krokcov2m18li70as6kq54ssd6f</string>
	<key>API_KEY</key>
	<string>AIzaSyAGbgU4W_gCHCqSnUv4UB0mSk6ZsJQpjaw</string>
	<key>GCM_SENDER_ID</key>
	<string>280514641018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shahad.InstagramSwiftUIClone</string>
	<key>PROJECT_ID</key>
	<string>instagramswiftuiclone-68ff3</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramswiftuiclone-68ff3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280514641018:ios:d378d0179af9097045cfc3</string>
</dict>
</plist>